[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "nfl-data-py>=0.3.3",
    "pandas>=1.5.3",
    "requests>=2.32.4",
]
